---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="About">
    <h1>Esta es la página de about</h1>
    <ul>
        <Card 
            href="https://www.google.com"
            title="Ir a Google"
            body= "Podes buscar todos lo que existe en Google"
        />
    </ul>
</Layout>